{% if settings.layout == 'footer'  %}
    <a href="{{ settings.share_url }}" target="_blank"><i class="icon icon-pinterest marg-right5"></i></a>
{% else %}
    <a href="{{ settings.share_url }}"><i class="icon icon-pinterest marg-right5"></i></a>
{% endif %}
